@font-face {
  font-family: 'KR';
  src: url('../public/fonts/kr.otf') format('truetype')
}

.title-text {
  font-family:"KR";
}

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;